[Unit]
Description=Updates the git repository of autodarts
Requires=network-online.target default.target
After=network-online.target default.target

[Service]
WorkingDirectory=/autodarts
ExecStart=/bin/git pull origin main

[Install]
Alias=autodarts-repository-updater.service
WantedBy=network-online.target default.target
RequiredBy=network-online.target default.target
